.footer {
    padding: 20px;
    background: #000000;

    ul {
        justify-content: space-around;
        padding: 0;
        display: flex;
        list-style: none;

            @media only screen and (max-width: 520px) {
                flex-direction: column;
                li {
                    text-align: center;
                    padding-bottom: 10px;
                }
            }

        li {
            display: inline;
            font-size: 20px;
            a {
                vertical-align: middle;
                color: white;
                text-decoration: none;
                &:hover {
                    color: rgb(151, 146, 148);
                }
                span img {
                    height: 18px;
                    width: 18px;
                    padding-right: 10px;
                }
            }

        }
    }
}


