html, body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  background-color: rgb(252, 255, 170);
}

.Root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}



