.Homepage {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}


.Experience {
    div {
        padding: 16px;
        padding-top: 8px;
        ul {
            list-style-position: inside;
            text-align: left;
            padding-left: 400px;
            padding-right: 270px;
            
            @media only screen and (max-width: 1400px) {
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
            }
            li {
                padding-top: 16px;
            }
        } 
    }

    

}