/* .footer {
    padding: 20px;
    background: #000000;
    color: white;
    font-size: 30px;

    ul {
        justify-content: space-around;
        padding: 0;
        display: flex;
        list-style: none;

        li {
            display: inline;
        }
    }
  } */
.footer {
padding: 20px;
background: #000000;

    ul {
        justify-content: space-around;
        padding: 0;
        display: flex;
        list-style: none;

        li {
            display: inline;
            font-size: 20px;
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    color: rgb(151, 146, 148);
                }
                span img {
                    height: 18px;
                    width: 18px;
                    padding-right: 10px;
                }
            }

            }
        }
}


